# env
env/

# .env
.env
.env.aws

# MLflow local database files
mlflow.db
mlflow.db-shm
mlflow.db-wal

# images
images/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.eps
*.pdf
*.ico
*.heic
*.heif
*.heif-srgb
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv

# videos
videos/
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv

# logs
logs/
tensorboard_logs/
mlruns/

# models
models/
mlruns/
mlartifacts/
.opponent_cache/

# data
data/
*.csv


# temp
temp/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.tmp.md
*.tmp.html


# prompts
prompts/

# utils

# installs
*.egg-info/
*.egg

.vscode/
.DS_Store

app/backend/episodes/